<div class="container">
  <div class="row my-3">
    <div class="card card-body">
      <h2 class="text-center">Favourites</h2>
    </div>
    <div class="col-md-6" *ngFor="let product of products">
      <div class="my-3">
        <div class="card card-body">
          <div class="text-end">
            <button
              [class.wait]="loading"
              (click)="remove(product.id)"
              type="button"
              class="btn-close"
              aria-label="Close"
            ></button>
          </div>
          <app-product-card [product]="product" [detailed]="true"></app-product-card>
        </div>
      </div>
    </div>
    <div class="offset-md-3 mt-5 pt-md-5 col-md-6" *ngIf="!products.length">
      <div class="mt-md-5 p-4 rounded alert-secondary">
        <h2 class="text-center">Your Favourites is Empty</h2>
      </div>
    </div>
  </div>
</div>
