<div class="bg-base p-4">
  <div class="container">
    <div class="row text-white">
      <div class="col-md-6">
        <div class="py-4">
          <div class="row">
            <div class="col-md-8">
              <input type="email"
                     class="py-2 px-3 w-100 text-white"
                     placeholder="Your Email"
                     style="background: rgba(132, 93, 222, 0.3);border: 2px solid #FFFFFF;box-sizing: border-box;border-radius: 4px">
            </div>
            <div class="col-md-4">
              <button style="background: #0156FF;"
                      class="border-0 rounded-pill py-2 px-4 text-white mx-4"
              >Subscribe</button>
            </div>
          </div>
        </div>
        <div class="py-4">
          <div>
            <h5>Our contacts</h5>
          </div>
          <div>
            <h2>
              <a class="text-white" href="#"><i class="me-4 fab fa-instagram"></i></a>
              <a class="text-white" href="#"><i class="fab fa-facebook-square"></i></a>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-5">
        <div class="py-3">
          <h3>Standard Oil Qazaqstan</h3>
        </div>
        <div class="py-3">
          <h5 class="opacity-75">Address</h5>
        </div>
        <div>
          <p style="font-size: 1.2rem">Address: Shymkent city, Enbekshi district, Residential area Zhuldyz, d.27/10 <br>
            Phones: <a class="text-decoration-none text-white" href="tel:8 (7777) 355 - 32 - 50">8 (7777) 355 - 32 - 50</a> <br>
            Email: <a class="text-decoration-none text-white" href="mailto:Eshatyrov@inbox.ru">Eshatyrov@inbox.ru</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
