<div [id]="name" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators d-flex justify-content-start ms-md-5">
    <button
      class="rounded-circle"
      style="width: 10px; height: 10px"
      *ngFor="let slider of sliders; let i = index; let first = first"
      type="button"
      [attr.data-bs-target]="'#' + name"
      [attr.data-bs-slide-to]="i"
      [attr.aria-label]="name + i"
      [class.active]="first"
      [attr.aria-current]="first"
    ></button>
  </div>
  <div class="carousel-inner">
    <div *ngFor="let slider of sliders; let i = index; let first = first" [class.active]="first" class="carousel-item">
      <div class="row">
        <div class="col-md-4 offset-md-1">
          <div class="p-md-5 mt-md-5 ms-md-5">
            <h2 class="pt-md-4">{{slider.title}}</h2>
            <div class="my-4">
              <p>{{slider.body}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-7 p-0">
          <img width="100%" [src]="slider.image" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
