<div class="container">
  <div class="my-3">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <app-carousel name="mainPage" [sliders]="sliders"></app-carousel>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-8">
        <div *ngIf="products.length" class="row">
          <!--      <div *ngFor="let i of currencies | keyvalue">{{i.key}}:{{i.value | currency:'KZT'}}</div>-->
          <div class="col-md-4" *ngFor="let category of categories">
            <div class="d-flex h-100">
              <div
                class="card my-2 w-100"
                style="height: 275px"
                [style]="{'background-image': 'url(' + category.img + ')'}"
              >
                <div class="m-2 p-2 text-white text-center"
                     style="font-size: 15px; background: #220956; border: 1px solid #FFFFFF; border-radius: 17px; width: fit-content; min-width: 100px;">
                  {{category.name}}
                </div>
                <div>
                  <i class="fas fa-chevron-right text-white bottom-0 position-absolute end-0 m-3 px-3 py-1" style="background: #220956; font-size: 25px"></i>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h3 style="background: #220956;" class="p-2 text-white text-center fw-normal">Communications center <i class="fas fa-globe"></i></h3>
          <div *ngFor="let nav of navs" class="my-3">
            <div class="d-flex align-items-center justify-content-around px-5">
              <i [class]="nav.icon" class="text-primary display-6"></i>
              <a [routerLink]="nav.link" style="background: #2F126D; width: 165px;" class="text-white text-center text-decoration-none">{{nav.name}}</a>
            </div>
          </div>
        </div>
        <div class="mt-4 border-top border-dark pt-3">
          <h3 style="background: #220956;" class="p-2 text-white text-center">Stock</h3>
          <div>
            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th>Currency</th>
                <th>Cost</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let currency of currencies | keyvalue">
                <td>{{currency.key}}</td>
                <td>{{currency.value | currency:'KZT'}}</td>
              </tr>
              </tbody>
              <thead>
              <tr>
                <th>Name</th>
                <th>Cost</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let oil of oilPrices | keyvalue">
                <td>{{oil.key}}</td>
                <td>{{oil.value | currency}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
