.card {
  background: rgba(30, 6, 80, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.form-btn {
  background: #220956;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  padding: .8rem 5rem;
  color: #C1A6FD;
}

.text-link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  color: rgba(255, 255, 255, 0.8);
}

.btn-link {
  font-weight: 500;
  text-decoration: none;
  color: #C1A6FD;
}

.input-text {
  color: white;
  background: #2F126D;
  border: 1px solid #845DDE;
  box-sizing: border-box;
  border-radius: 17px;
  padding: 1rem calc(45px + 1.6rem);
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  max-width: 100%;
}

.input-text::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.password-eye-div {
  position: absolute;
  top: calc((63px - 45px) / 2);
  right: 1rem;
  height: 45px;
}

.password-eye {
  height: 100%;
  background: transparent;
  border: 1px solid #845DDE;
  cursor: pointer;
  color: #845DDE;
  font-size: 1.5rem;
}
