<div>
  <div class="container">
    <h1 class="m-3">About Us</h1>
  </div>
  <div *ngIf="articles.length">
    <div *ngFor="let article of articles; let even = even"
         [ngClass]="{'bg-base': even}"
         class="p-md-5">
      <div class="row m-md-auto m-0">
        <div
          [ngClass]="{'order-last': even}"
          class="col-md-7 p-3">
          <img width="100%" [src]="article.image" alt="">
        </div>
        <div
          [ngClass]="{'text-white': even}"
          class="col-md-5 p-5">
          <div class="mx-md-5">
            <div class="mb-4">
              <h2>{{article.title}}</h2>
            </div>
            {{article.body}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loading *ngIf="!articles.length"></app-loading>
</div>
