<div style="background: #F5F7FF;" class="p-5">
  <div class="d-flex justify-content-center">
    <div style="height: 407px;z-index: 1" class="d-flex align-items-center">
      <div>
        <div class="my-3">
          <button class="bg-white btn border px-4 py-2 d-flex justify-content-between" style="width: 300px;">
            <span>Social networks</span>
            <i style="line-height: 1.5" class="fas fa-arrow-right text-primary"></i>
          </button>
        </div>
        <div class="my-3">
          <button class="bg-white btn border px-4 py-2 d-flex justify-content-between" style="width: 300px;">
            <span>FAQ</span>
            <i style="line-height: 1.5" class="fas fa-arrow-right text-primary"></i>
          </button>
        </div>
        <div class="my-3">
          <button [routerLink]="'/contacts'"
                  class="bg-white btn border px-4 py-2 d-flex justify-content-between"
                  style="width: 300px;">
            <span>Contacts</span>
            <i style="line-height: 1.5" class="fas fa-arrow-right text-primary"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block" style="margin-left: -25%;background: url(assets/images/feedback.png);background-blend-mode: multiply; width: 675px; height: auto"></div>
  </div>
</div>
